<div class="searchField">
  <input #inp type="text"
         list="suggestions"
         class="searchInput"
         placeholder="search beer..."
         (click)="getStorage()">
</div>
<datalist id="suggestions">
  <option *ngFor="let el of storageArr" [value]="el"></option>
</datalist>

<div class="beerListField"
     *ngIf="beerList && beerList.length > 0; else noBeer"
     #beersList>
  <div class="beerList" *ngFor="let beerItem of beerList; let i=index"
       (click)="getIndex(i)">
    <app-beer-item
      [beerLocalId]="i"
      [clickedBeerId]="clickedBeer"
      [beerEl]="beerItem">
    </app-beer-item>
  </div>
</div>
<ng-template #noBeer>
  <div class="noBeerContainer">
    <span class="noBeer">Sorry, no such beer :(...</span>
  </div>
</ng-template>

<div class="paginatorField">
  <div class="amountOnPage">
    <span>Show by </span>
    <select class="amount" (change)="onChange($event)">
      <option *ngFor="let amount of amountBeers" [value]="amount.name">{{amount.value}}</option>
    </select>
    <span> elements per page</span>
  </div>
  <div class="paginator">
    <span class="pageNumber"
          hover
          (click)="changeBeerPage(false)"
          [ngClass]="{'--disabled': currentBeerPage === 1}">previous
    </span>
    <span *ngFor="let i of range"
          class="pageNumber"
          [ngClass]="{'active': i == currentBeerPage}"
          (click)="getBeersFromPage(i)">{{i}}
    </span>
    <span class="pageNumber"
          hover
          (click)="changeBeerPage(true)">next
    </span>
  </div>
</div>
